# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/daw/20170928_HelloWorldNetBeans/nbproject/private/
/daw/20170928_HelloWorldNetBeans/build/
/daw/20170928_HelloWorldNetBeans/dist/
/dam/HelloWorld_NetBeans/nbproject/private/
/dam/HelloWorld_NetBeans/dist/
/dam/HelloWorld_NetBeans/build/
/daw/20170929_LlibreriresAmbNetBeans/DemoIText/nbproject/private/
/daw/20170929_LlibreriresAmbNetBeans/DemoIText/build/
/dam/20170929_NetBeans_llibreries/DemoIText/nbproject/private/
/dam/20170929_NetBeans_llibreries/DemoIText/build/
/dam/20170929_NetBeans_llibreries/DemoIText/dist/
/daw/20171002_Multiprojecte/ProjecteAmbDependencia/nbproject/private/
/daw/20171002_Multiprojecte/ProjecteAmbDependencia/build/
/daw/20170929_LlibreriresAmbNetBeans/DemoIText/dist/
/daw/20171002_Multiprojecte/ProjecteAmbDependencia/dist/
/dam/20171002_exemple_multiprojecte/nbproject/private/
/dam/20171002_exemple_multiprojecte/build/
/dam/20171002_exemple_multiprojecte/dist/
/dam/20171005_SolucioExamen2015/solucio/SurfForecast/nbproject/private/
/dam/20171005_SolucioExamen2015/solucio/SurfForecast/build/
/dam/20171005_SolucioExamen2015/solucio/SurfForecast/dist/
/dam/20171005_SolucioExamen2015/solucio/WindReportingTool/nbproject/private/
/dam/20171005_SolucioExamen2015/solucio/WindReportingTool/build/
/dam/20171005_SolucioExamen2015/solucio/WindReportingTool/dist/
/daw/20171005_SolucioExamen2015/solucio/SurfForecast/nbproject/private/
/daw/20171005_SolucioExamen2015/solucio/SurfForecast/build/
/daw/20171005_SolucioExamen2015/solucio/SurfForecast/dist/
/daw/20171005_SolucioExamen2015/solucio/WindReportingTool/nbproject/private/
/daw/20171005_SolucioExamen2015/solucio/WindReportingTool/build/
/daw/20171005_SolucioExamen2015/solucio/WindReportingTool/dist/